@media(min-width:1280px){


 }
 
 @media(min-width:1024px){

  }
 
  @media(max-width:768px){
 
 

  }
 
  @media(max-width:640px){
    main{
        display: flex;
        flex-direction: column;
    }

    #Yo{
        width: 80%;
        margin-top: 30%;
    }

    .presentacion{
        font-size: smaller;
    }

    .contenedor{
        flex-direction: column;
        margin-left: 6%;
    }

    #who{
        font-size: 35px;
        margin-bottom: 7%;
        margin-top: 7%;
    }

    #sobre_mi{
        width: 160%;
        margin-bottom: 30%;
    }


    .Skills{
        display: inline-block;
        margin: 0%;
    }
}